
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- Start Slider Area -->
<div id="slider" class="bd-slider-area">
    <div class="main-container">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <!-- First slide -->
                <div class="item active slide-1">
                    <div class="carousel-caption">
                        <p data-animation="animated fadeInDown">
                            YE & BÖYÜ
                        </p>
                        <h3 data-animation="animated fadeInUp">
                            Düzgün Qidalanma ~ Sağlam Uşaqlar
                        </h3>

                    </div>
                </div>
                <!-- /.item -->
                <!-- Second slide -->
                <div class="item slide-2">
                    <div class="carousel-caption">
                        <p data-animation="animated fadeInDown">
                            YE & BÖYÜ
                        </p>
                        <h3 data-animation="animated fadeInUp">
                            Düzgün Qidalanma ~ Sağlam Uşaqlar
                        </h3>

                    </div>
                </div>
                <!-- /.item -->
                <!-- Third slide -->
                <div class="item slide-3">
                    <div class="carousel-caption">
                        <p data-animation="animated fadeInDown">
                            YE & BÖYÜ
                        </p>
                        <h3 data-animation="animated fadeInUp">
                            Düzgün Qidalanma ~ Sağlam Uşaqlar
                        </h3>

                    </div>
                </div>
                <!-- /.item -->

            </div>
            <!-- /.carousel-inner -->
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- /.carousel -->
    </div>
    <!-- /.container -->
</div>
<!-- End Slider Area -->
<!-- Strat Priching Data -->
<section id="our-menu" class="our-menu section section-bg-1 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title padding-bottom-60 text-center">
                    <h4 class="color-flamingo">Xüsusi Reseptlər</h4>
                    <h2 class="color-black">Gündəlik Menyu</h2>
                    <div class="clearfix">
                        <div class="border">
                            <span class="fa fa-circle"></span>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor amet, consectetur adipiscing elit. Sed ut purus eget nunc ut dignissim cursus at
                        a nisl.
                        <br> Mauris vitae turpis quis Eros egestas tempor sit amet a arcu. Duis egestas hendrerit diam
                        .
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bd-tab-menu">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#breakfast" aria-controls="breakfast" role="tab" data-toggle="tab">Səhər</a>
                        </li>
                        <li role="presentation">
                            <a href="#lunch" aria-controls="lunch" role="tab" data-toggle="tab">Nahar</a>
                        </li>
                        <li role="presentation">
                            <a href="#dinner" aria-controls="dinner" role="tab" data-toggle="tab">Şam</a>
                        </li>
                        <li role="presentation">
                            <a href="#drinks" aria-controls="drinks" role="tab" data-toggle="tab">İçkilər</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="breakfast">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/br6.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>
                                                <p>Tez,Asan,Ləzzətli</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/br6.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>
                                                <p>Tez,Asan,Ləzzətli</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/br6.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>
                                                <p>Tez,Asan,Ləzzətli</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/br6.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>
                                                <p>Tez,Asan,Ləzzətli</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/br6.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>
                                                <p>Tez,Asan,Ləzzətli</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/br6.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>
                                                <p>Tez,Asan,Ləzzətli</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="lunch">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/nh1.png" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>
                                                <p>Tez,Asan,Ləzzətli</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/nh1.png" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>
                                                <p>Tez,Asan,Ləzzətli</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/nh1.png" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>
                                                <p>Tez,Asan,Ləzzətli</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/nh1.png" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası  >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>
                                                <p>Tez,Asan,Ləzzətli</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/nh1.png" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>
                                                <p>Tez,Asan,Ləzzətli</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/nh1.png" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>
                                                <p>Tez,Asan,Ləzzətli</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="dinner">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/dn1.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/dn1.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/dn1.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/dn1.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/dn1.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/dn1.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="drinks">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/dr1.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/dr1.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/dr1.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/dr1.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/dr1.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate
                                                        reprehenderit...
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="bd-item-col">
                                        <div class="bd-food-image">
                                            <img src="~/asc_temp/img/dr1.jpg" alt="">
                                            <div class="bd-food-details">
                                                <a href="#">
                                                    <p>
                                                        Hazırlanma qaydası >>>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Et blanditiis assumenda maxime aut! Totam, possimus error
                                                        quisquam, aliquid autem ex harum nesciunt quam molestias illo
                                                        laborum sapiente deserunt, blanditiis in! lorem Lorem ipsum dolor
                                                        sit amet, consectetur adipisicing elit. Ut, quasi, vel numquam
                                                        reiciendis at fugiat dolor quisquam pariatur incidunt labore
                                                        ducimus corporis! Possimus consectetur itaque ipsa, incidunt
                                                        ad quod asperiores Lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit. Eius omnis unde laborum similique asperiores cupiditate...
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Priching Data -->
<!-- Strat Counter Area -->
<div class="red-top-dashed"> </div>
<section id="counter" class="counter section clearfix">
    <div class="container">
    </div>
</section>
<div class="red-bottom-dashed"> </div>
<!-- End Counter Area -->
<!-- Start Video Section -->
<section class="bd-video-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bd-video-col text-center">
                    <h2>Uşaq yeməkləri nece hazırlanmalı</h2>
                    <a class="demo" href="https://www.youtube.com/watch?v=40LsnzpcNKg"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Strat Blog Area -->
<section id="blog" class="blog section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="section-title padding-bottom-50 text-center">
                    <h4 class="color-flamingo"> Top 3 Məqalələr </h4>
                    <h2 class="color-black">latest News</h2>
                    <div class="row">
                        <div class="border">
                            <span class="fa fa-circle"></span>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor amet, consectetur adipiscing elit. Sed ut purus eget nunc ut dignissim cursus at
                        a nisl. Mauris vitae turpis quis Eros egestas tempor sit amet a arcu. Duis egestas hendrerit
                        diam .
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--  End Section Header -->
            <div class="blog-area">
                <div class="col-sm-6 col-md-4 blog-box wow fadeInUp animated margin-bottom-30" data-wow-delay=".2s">
                    <div class="blog-post">
                        <figure class="image">
                            <img alt="Blog Image" src="~/asc_temp/img/kasha.jpg" class="img-responsive">
                            <div class="overly">
                                <div class="overly-icon">
                                    <a class="link" href="#"><i class="fa fa-arrows"></i></a>
                                </div>
                            </div>
                        </figure>
                        <div class="contents-box">

                            <div class="content">
                                <a href="single.blog.html">
                                    <h4 class="color-black">0-5 yaşlı uşaqların qidalanması</h4>
                                </a>

                                <p class="text-muted"> There are many variations passages available, but the Lorem, ipsum... </p>
                            </div>
                            <div class="row Continue-btn">
                                <div class="text-center">
                                    <a href="@Url.Action("Index", "SingleBlog")">Ətraflı Oxu &nbsp;&nbsp;&nbsp; <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog 01 -->
                <div class="col-sm-6 col-md-4 blog-box wow fadeInUp animated margin-bottom-30" data-wow-delay=".4s">
                    <div class="blog-post">
                        <figure class="image">
                            <img alt="Blog Image" src="~/asc_temp/img/kasha.jpg" class="img-responsive">
                            <div class="overly">
                                <div class="overly-icon">
                                    <a class="link" href="#"><i class="fa fa-arrows"></i></a>
                                </div>
                            </div>
                        </figure>
                        <div class="contents-box">
                            <div class="content">
                                <a href="single.blog.html">
                                    <h4 class="color-black">0-5 yaşlı uşaqların qidalanması</h4>
                                </a>

                                <p class="text-muted"> There are many variations passages available, but the Lorem, ipsum... </p>
                            </div>
                            <div class="row Continue-btn">
                                <div class="text-center">
                                    <a href="@Url.Action("Index", "SingleBlog")">Ətraflı Oxu &nbsp;&nbsp;&nbsp; <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog 02 -->
                <div class="col-sm-6 col-md-4 blog-box center-block wow fadeInUp animated margin-top-25-991 margin-bottom-30" data-wow-delay=".6s">
                    <div class="blog-post">
                        <figure class="image">
                            <img alt="Blog Image" src="~/asc_temp/img/kasha.jpg" class="img-responsive">
                            <div class="overly">
                                <div class="overly-icon">
                                    <a class="link" href="#"><i class="fa fa-arrows"></i></a>
                                </div>
                            </div>
                        </figure>
                        <div class="contents-box">
                            <div class="content">
                                <a href="single.blog.html">
                                    <h4 class="color-black">0-5 yaşlı uşaqların qidalanması</h4>
                                </a>

                                <p class="text-muted">
                                    There are many variations passages available, but the lorem, ipsum...
                                </p>
                            </div>
                            <div class="row Continue-btn">
                                <div class="text-center">
                                    <a href="@Url.Action("Index", "SingleBlog")">Ətraflı Oxu &nbsp;&nbsp;&nbsp; <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog 03 -->
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->

